<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div id="header2">
        <div id="logodiv"><a class="menu" [routerLink]=""><img src="/assets/images/logo.png" style="width: 100px; height: auto;  display: inline-block;"></a></div>
        <div id="menulinks"> 
          <a class="menu" [routerLink]="['']">HOME</a>
          <a class="menu" [routerLink]="">INSTRUCTORS</a>
          <a class="menu" [routerLink]="">SCHEDULE</a>
          <a class="menu" [routerLink]="">CLASSES</a>
          <a class="menu" [routerLink]="">RATES</a>
          <a class="menu" [routerLink]="['location']">LOCATION</a>
          <a class="menu3" >ETIQUETE</a>
          <a [routerLink]="" id="myBtn" (click)="display()">SIGN IN</a></div>
      </div>
  
</body>
</html>