<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Jquery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.js"></script> 
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span (click)="span()"class="close">&times;</span>
        <h1 class="formtext">Sign in</h1>
        <p id="perrors" *ngIf="errors">{{errors}}</p>
        <form>
          <div class="form-group">
            <label id="labeltop" for="exampleInputEmail1" class="formtext">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="formtext">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <a id="forgotpassword" [routerLink]="">Forgot your password?</a>
          </div>
          <button type="submit" id="submitbutton">SIGN IN</button>
          <h5 id="or">OR</h5>
          <!-- class="btn btn-primary" -->
        </form>
      </div>
    </div>
    <!-- Modal for Sign Up User -->
    <div id="myModal2" class="modal2">
      <!-- Modal content -->
      <div class="modal-content2">
        <div id="header" >
            <div id="imagewrappersignup" ><a class="menu" [routerLink]=""><img  src="/assets/images/logo.png" style="width: 100px; height: auto;  position: sticky;
              top: 0px;  display: inline-block;"></a></div>
          <a [routerLink]="" id="linktosignin" (click)="display3()">SIGN IN</a>
        </div>
        <!-- <span (click)="span2()"class="close2">&times;</span> -->
        <div class="signupdiv">
          <h1 class="formtext">Sign up</h1>
          <p id="perrors2" *ngIf="errors2">{{errors2}}</p>
          <form>
            <div class="form-row">
              <div  class="form-group col-md-6" style="padding: 0px; width: 160px;">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                <p>{{errors}}</p>
              </div>
              <div class="form-group col-md-6" style="padding: 0px; margin-left: 2px; width: 160px;">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                <p>{{errors}}</p>
              </div>
              </div>
              <div class="form-group" style=" width: 320px; margin-top: 30px;">
                <label for="email" style="margin-top: 30px;">Email Address</label>
                <input type="email" class="form-control"  name="email" placeholder="Email Address">
                <p>{{errors}}</p>
              </div>
              <div class="form-group" style=" width: 320px;">
                <label for="ipassword">Password</label>
                <input type="password" class="form-control"  name="password" placeholder="Password">
                <p>{{errors}}</p>
              </div>
              <button type="submit" id="submitbutton2">Sign up</button>
              <button (click)="span2()" id="cancelbutton">Go Back</button>
          </form>
          </div>
        </div>
      </div>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">Myinfo</a>
        <a href="#">Classes</a>
        <a href="#">Teachers</a>
        <a href="#">Rates</a>
        <a href="#">Schedule</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div id="picture"  >
        <div id="header2">
          <div id="logodiv"><a class="menu" [routerLink]=""><img src="/assets/images/logo.png" style="width: 100px; height: auto;  display: inline-block;"></a></div>
          <div id="menulinks"> 
            <a class="menu" [routerLink]="">HOME</a>
            <a class="menu" [routerLink]="">INSTRUCTORS</a>
            <a class="menu" [routerLink]="">SCHEDULE</a>
            <a class="menu" [routerLink]="">CLASSES</a>
            <a class="menu" [routerLink]="">RATES</a>
            <a class="menu" [routerLink]="['location']">LOCATION</a>
            <a class="menu" [routerLink]="">ETIQUETE</a>
            <a [routerLink]="" id="myBtn" (click)="display()">SIGN IN</a></div>
          <!-- <span id="menuikon" (click)="openNav()">&#9776;</span>   -->
          
         
        </div>
        <div id="start">
          <h2 style="display: inline-block;" class="starttext">PPACTICE. </h2><h2 style="display: inline-block;" class="starttext">LEARN.</h2>
          <h2 class="starttext">INSPIRE.</h2>
          <button id="getstartedbutton" (click)="display2()">SIGN UP</button>
        </div>
      </div>
      <div id="practice" style="padding: 25px;">
          <div id="text"><h2 id="reviewstext">PRACTICE</h2></div>  
          <section class="regular slider" >
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr1.jpeg" style="width: 100%; height: 100%">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                      <h5 class="titlepr">The connection of the breath with the flowing of the body from one posture to the next</h5>
                      <small class="namepr">VENYASA FLOW</small> <small class="timepr">60 MIN</small>
                  </div>
              </div>
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr2.jpeg" style="width: 100%; height: 100%">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                      <div><h5 class="titlepr">A practice uniquely designed for  pregnancy</h5></div>
                      <div style="margin-top: 15px;"><small style="line-height: 1.4;" class="namepr">PRENATAL YOGA</small> <small class="timepr">60 MIN</small></div>
                  </div>
              </div>
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr3.jpg" style="width: 100%; height: 173.71px">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                      <h5 class="titlepr">Traditional hot yoga postures, with additional ones that improve upper body and core strength.</h5>
                      <small class="namepr">FIRE SERIES</small> <small class="timepr">75 MIN</small>
                  </div>
              </div>
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr4.jpeg" style="width: 100%; height: 100%">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                      <h5 class="titlepr">26 postures and 2 breathing exercises, in 105 degrees. It’s the standard in many hot yoga studios</h5>
                      <small class="namepr">TRADITIONAL HOT YOGA</small> <small class="timepr">90 MIN</small>
                  </div>
              </div>
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr5.jpg" style="width: 100%; height: 173.71px">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                    <h5 class="titlepr">Slow-paced style of yoga with postures, that are held for longer periods of time</h5>
                    <small class="namepr">YIN YOGA</small> <small class="timepr">60 MIN</small>
                  </div>
              </div>
              <div style="margin-top: 50px; margin-left: 10px;">
                  <img src="/assets/images/pr6.jpeg" style="width: 100%; height: 100%">
                  <div class="divpr" style="width: 260px; height: 100px; background-color: white;">
                      <div><h5 class="titlepr">Anti-gravity yoga, practiced in a silk hammock hanging from the ceiling</h5></div>
                      <div style="margin-top: 15px;"><small class="namepr">AERIAL YOGA</small> <small class="timepr">60 MIN</small></div>
                  </div>
              </div>
          </section>
          <button id="getstartedbutton2" [routerLink]>SEE ALL CLASSES</button>
    
      </div>
      <div id="teachers">
        <h2 id="teachersheadertext2">OUR INSTRUCTORS</h2><br>
        <h4 id="teachersheadertext">Dedicated to strengthening the bodies, </h4> 
            <h4 id="teachersheadertext">minds, and spirits of our students</h4>
            <!-- <section class="regular slider" style="margin-top: 30PX">
                <div  style="margin-right: 0px;">
                    <img src="/assets/images/INST1.jpg" style="width: 50%; height: 50%">
                </div>
                <div   style="margin-right: 0px;">
                    <img  src="/assets/images/INST2.jpg" style="width: 50%; height: 50%">
                </div >
                <div>
                    <img  src="/assets/images/INST3.jpg" style="width: 50%; height: 50% ">
                </div>
                <div   style="margin-right: 0px;">
                    <img src="/assets/images/INST4.jpg" style="width: 50%; height: 50%">
                </div>
                <div   style="margin-right: 0px;">
                    <img  src="/assets/images/INST5.jpg" style="width: 50%; height: 50%">
                </div>
                <div   style="margin-right: 0px;">
                    <img  src="/assets/images/INST6.jpg" style="width: 50%; height: 50%">
                </div>
            </section> -->
      </div>
      <div id="reviews">
        <div id="text"><h2 id="reviewstext">WHAT MEMBERS ARE SAYING</h2></div>  
        <h4 id="reviewsh4">We welcome brand new students, as well as those who have practiced for years</h4>
        <section class="regular slider" style="margin-top: 60px;">
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV1.jpg" style="width: 100%; height: 100%">
            </div>
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV2.jpg" style="width: 100%; height: 100%">
            </div >
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV3.jpg" style="width: 100%; height: 100%">
            </div>
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV4.jpg" style="width: 100%; height: 100%">
            </div>
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV5.jpg" style="width: 100%; height: 100%">
            </div>
            <div style="margin-right: 15px;">
                <img src="/assets/images/REV6.jpg" style="width: 100%; height: 100%">
            </div>
        </section>
          </div>  
      <div id="bottom">
        <p></p>
        <p id="bottomtext">All Content © Copyright Hot Yoga Renton 2018. All Rights Reserved.</p>
      </div>
      </div>
    </body>
</html> 

